body {
  background: #000;
  color: #fff;
}

.App {
  text-align: center;
  padding: 5%;

}

.App-title {
  font-size: 26px;
}

.logo {
  width: 150px;
  height: 150px;
}

.article-link {
  text-align: center;

}

a {
  color: white;
}

a:hover {
  color:white;
}
